*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 3rem;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    list-style: none;
    
    li{
        margin: 1em;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;
        background: rgb(238, 240, 239);
        box-shadow: 3px 3px 10px #f5fdfa, 
                    3px 3px 3px #38b882;


        p{
            margin-bottom: .5rem;
        }
        h2{
            margin-bottom: 2rem;
        }
    }
}





        @media screen and (min-width:768px) {

            ul{
                
            .quote__2{
                grid-column: auto/span 2;
            }
            }
            
        }



