*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 3rem;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    list-style: none;
    
    li{
        margin: 1em;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;
        background: rgb(238, 240, 239);
        box-shadow: 3px 3px 5px rgb(56, 184, 130),
                    -3px -3px 0px rgb(56, 184, 130);

        &:last-child{
            margin-bottom: 0;
        }

        p{
            margin-bottom: .5rem;
        }
        h2{
            margin-bottom: 2rem;
        }
    }
}